<div class={{className}}{{enbleDrag}}  (mousemove)="hoverItem=true" (mouseleave)="hoverItem=false">
    <div *ngIf="hoverItem" class="hoverContent one" (click)="openDialog($event)">
        <i class="fa fa-cog" style="padding: 3px 4px 3px 4px;"></i>
    </div>
    <div *ngIf="hoverItem" class="hoverContent two" (click)="closeHandler($event)">
        <i class="fa fa-close" style="padding: 3px 4px 3px 4px;"></i>
    </div>
    <label class='labelField'>Label Text</label>
    <div>
        <input type='text' class="form-control" placeholder='Enter the label text' />
    </div>
</div>
<div #widgetContainer></div>
