<div class="mainContainer wrapper">
    <div class="fieldsMain">
        <div class="titleField">Basic Components</div>
        <div id="fieldContainer" class="fieldsSection container" [dragula]='"first-bag"'>
          <div class="field" data-fieldname="txtField"><div><i class="fa fa-terminal"></i>&nbsp;Text Field</div></div>
          <div class="field" data-fieldname="checkboxField"><div><i class="fa fa-check-square"></i>&nbsp;Check Box</div></div>
        </div>
    </div>
    <div class="dropContainer">
        <div class="container" [dragula]='"first-bag"'>
            <div #widgetContainer >
        </div>
        <div class="dropHere" *ngIf="!drggedItem">Drop Here...</div>
      </div>
    </div>
  </div>
